@import "tailwindcss";
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 3rem;
  }
}

.animate-slideUp {
  animation: slideUp 0.6s ease-out forwards;
}

.delay-100 {
  animation-delay: 0.1s;
}

.delay-200 {
  animation-delay: 0.2s;
}

.animate-underline {
  animation: underline 0.6s ease-out forwards;
}
